@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
  
  --color-primary: #0f2cbd;
  --color-accent-gold: #c5a059;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101322;
  --color-surface-dark: #1a1f35;
}

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100 antialiased font-sans;
  }
}

.serif-text {
  font-family: 'Playfair Display', serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(15, 44, 189, 0.2);
  border-radius: 10px;
}
